@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}

/* -------------------NAVBAR------------------------- */

.nav-bar {
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

.nav-title {
    width: 100%;
    background: rgb(18, 18, 24);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-transform: capitalize;
    color: #eee;
}

.search-bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1590394072807-12f9869e3907?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 30% 0;
    background-size: cover;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.search-bar-sort {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    border-bottom: 1px solid #eee;
    padding-bottom: .5rem;
}

.sort-btn {
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    color: #eee;
    line-height: 1.3rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.submit-btn {
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background:rgb(241, 199, 84);
    padding: .5rem 1rem;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: .3s background;
}

.submit-btn:hover {
    background: rgb(211, 131, 26);
    color: #eee;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 800px;
}

.form-inputs {
    display: flex;
    align-self: stretch;
    gap: 2rem;
}

.form-input {
    font-family: 'Poppins', sans-serif;
    padding: 7px 15px;
    font-size: 16px;
    flex-basis: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    
}

/* -------------------CARDS-------------------------- */

.business-card {
    width: 300px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 5px;
    transition: .3s all;
}

.business-card:hover {
    transform: perspective(90rem) rotateX(20deg) scale(1.2);
    background: white;
    box-shadow: 0 0 10px black;
    padding: 1rem;
    
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 1200px;
    margin: 5rem 0;
}

#card-title {
    font-size: 21px;
    padding: .5rem 0;
}

.card-desc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    font-size: 14px;
    height: 100%;
    
}


/* ------------------------ADDITIONAL-------------------------- */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.highlight {
    color:rgb(211, 131, 26);
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
    font-size: 18px;
}